---
name: Update modules

on:
  workflow_dispatch:

jobs:
  update-modules:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          fetch-depth: 1
          show-progress: "false"
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # 6.0.0
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"
          check-latest: true
          cache: true
      - run: go get -u=patch
      - run: go mod tidy
      - name: Build binary
        run: |
          env GOOS=linux GOARCH=amd64 CGO_ENABLED=0 \
            go build -trimpath -buildvcs=false \
              -buildmode=exe \
              -ldflags "-s -w -extldflags -static" \
              -tags 'static_build' \
              -o bootstrap
      - run: go test -v ./...
      - run: git config user.email 'github@github.com'
      - run: git config user.name 'GitHub Build'
      - run: git checkout -b fix/${{ github.run_number }}
      - run: |
          git commit --all --message 'fix: update module versions ${{ github.run_number }}'
      - run: git push --set-upstream origin $(git branch --show-current)
      - run: gh pr create --fill
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
